:root {
  --primaryColor: #D70638;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ant-tabs-tab {
  background: var(--primaryColor) !important;
  color: white !important;
  padding: 1rem !important;
  border-top-left-radius: 20% !important;
  border-top-right-radius: 20% !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.collectionBoxOne {
  background-image: url("https://demo-egenslab.b-cdn.net/html/eg-shop-fashion/v2/assets/images/banner/banner-md2.png");
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 2rem;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.collectionBoxOne h2 {
  color: black;
  font-weight: 400;
  margin-top: 0.6rem;
}

.collectionBoxOne button {
  border: none;
  color: black;
  background: none;
  position: relative;
}

.collectionBoxOne button::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 40%;
  height: 10%;
  background-color: black;
}

.collectionBoxOne button:hover::after {
  animation: btneffect 0.3s forwards normal ease-in-out;
  animation-iteration-count: 1;
}

@keyframes btneffect {
  0% {
    width: 40%;
  }
  40% {
    width: 50%;
  }
  80% {
    width: 70%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.collectionBoxTwo {
  background-image: url("https://demo-egenslab.b-cdn.net/html/eg-shop-fashion/v2/assets/images/banner/banner-md2.png");
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: 2rem;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.collectionBoxTwo h2 {
  color: black;
  font-weight: 400;
  margin-top: 0.6rem;
}

.collectionBoxTwo button {
  border: none;
  color: black;
  background: none;
  position: relative;
}

.collectionBoxTwo button::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 10%;
  width: 40%;
  height: 10%;
  background-color: black;
}

.collectionBoxTwo button:hover::after {
  animation: btneffect 0.3s forwards normal ease-in-out;
  animation-iteration-count: 1;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.productSelction {
  padding-top: 5rem;
}

.productSelction h2 {
  position: relative;
}

.productSelction h2::after {
  content: "";
  left: 50%;
  bottom: -20%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("https://demo-egenslab.b-cdn.net/html/eg-shop-fashion/v2/assets/images/shape/header-shape.png") no-repeat center;
  position: absolute;
  height: 10px;
  width: 172px;
}

.productBox:hover .productOption {
  display: block;
}

.productBox img {
  width: 100%;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.productOption span {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.ant-tabs-ink-bar {
  background: black !important;
}

.saleBanner {
  background-image: url('https://www.iheartradio.ca/image/policy:1.10267552:1574700135/shopping.jpg?f=default&$p$f=08a6673');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.saleBox {
  background: linear-gradient( 27deg, var(--primaryColor) 0.61%, rgba(190, 5, 190, 0.513) 72.05%);
  -webkit-filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  border-radius: 5px 0 0 5px;
  padding: 100px 40px;
}

/* Small Phone Screen */

@media only screen and (min-width: 200px) {
  .topnavbar {
    display: none;
  }
  .mobilemenuicon {
    margin-right: -2rem !important;
  }
  .navbar-collapse {
    display: none;
  }
  .iconhover:hover {
    color: var(--primaryColor);
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff;
  }
  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .offcanvas-start {
    width: 290px !important;
  }
  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    background-color: var(--primaryColor) !important;
  }
  .ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .sliderImage {
    width: 100%;
    height: 250px
  }
  .count {
    margin-left: 40%;
    margin-top: 3rem;
  }
  .count span {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 80%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 5rem;
    position: relative;
    font-weight: 700;
  }
  .count span::before {
    position: absolute;
    border: 2px solid var(--primaryColor);
    left: -30%;
    right: 0%;
    content: "";
    padding: 60%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -23%;
    margin: 15%;
    position: absolute;
  }
  .stepBox {
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 3rem;
  }
  .stepBox:hover {
    margin-top: 1rem;
    cursor: default
  }
  .stepBox h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .stepBox span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.6rem;
  }
  /* Product Section Start */
  .productBox {
    cursor: pointer;
    padding-top: 1rem;
  }
  .productTitle {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .productLabel {
    position: absolute;
  }
  .productLabel span {
    color: white;
    background-color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -10rem;
    position: absolute;
    left: 60%;
    font-size: 0.8rem;
  }
  .productOption {
    position: 'absolute';
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: -19%;
    left: 0%;
    padding: 0.3rem;
    display: none;
  }
  .salebannertitle {
    width: 100%;
  }
}

/* Smart Phone Screen  */

@media only screen and (min-width: 320px) {
  .topnavbar {
    display: none;
  }
  .mobilemenuicon {
    margin-right: -2rem !important;
  }
  .navbar-collapse {
    display: none;
  }
  .iconhover:hover {
    color: var(--primaryColor);
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff !important;
  }
  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .offcanvas-start {
    width: 290px !important;
  }
  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    background-color: var(--primaryColor) !important;
  }
  .ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .sliderImage {
    width: 100%;
    height: 250px
  }
  .count {
    margin-left: 40%;
    margin-top: 3rem;
  }
  .count span {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 80%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 5rem;
    position: relative;
    font-weight: 700;
  }
  .count span::before {
    position: absolute;
    border: 2px solid var(--primaryColor);
    left: -30%;
    right: 0%;
    content: "";
    padding: 60%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -23%;
    /* bottom: 20%; */
    margin: 15%;
    position: absolute;
  }
  .stepBox {
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 3rem;
  }
  .stepBox:hover {
    margin-top: 1rem;
    cursor: default
  }
  .stepBox h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .stepBox span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.6rem;
  }
  /* Product Section Start */
  .productBox {
    cursor: pointer;
    padding-top: 1rem;
  }
  .productTitle {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .productLabel {
    position: absolute;
  }
  .productLabel span {
    color: white;
    background-color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -10rem;
    position: absolute;
    left: 60%;
    font-size: 0.8rem;
  }
  .productOption {
    position: 'absolute';
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: -19%;
    left: 0%;
    padding: 0.3rem;
    display: none;
  }
  .salebannertitle {
    width: 100%;
  }
}

/* Tablet Screen  */

@media only screen and (min-width: 768px) {
  .navbar-collapse {
    display: none;
  }
  .mobilemenuicon {
    display: none;
  }
  .iconhover:hover {
    color: var(--primaryColor);
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff;
  }
  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    color: #000 !important;
    font-weight: 600 !important;
  }
  .offcanvas-start {
    width: 290px !important;
  }
  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    background-color: var(--primaryColor) !important;
  }
  .ant-menu-inline .ant-menu-item-group-list .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    border-right: 3px solid var(--primaryColor) !important;
  }
  .sliderImage {
    width: 100%;
    height: 520px
  }
  .count {
    margin-left: 40%;
  }
  .count span {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 80%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 5rem;
    position: relative;
    font-weight: 700;
  }
  .count span::before {
    position: absolute;
    border: 2px solid var(--primaryColor);
    left: -30%;
    right: 0%;
    content: "";
    padding: 60%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -23%;
    /* bottom: 20%; */
    margin: 15%;
    position: absolute;
  }
  .stepBox {
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 3rem;
  }
  .stepBox:hover {
    margin-top: 1rem;
    cursor: default
  }
  .stepBox h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .stepBox span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.6rem;
  }
  /* Product Section Start */
  .productBox {
    cursor: pointer;
    padding-top: 1rem;
  }
  .productTitle {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .productLabel {
    position: absolute;
  }
  .productLabel span {
    color: white;
    background-color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -12rem;
    position: absolute;
    left: 60%;
    font-size: 0.8rem;
  }
  .productOption {
    position: 'absolute';
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: -15%;
    left: 0%;
    padding: 0.3rem;
    display: none;
  }
  .salebannertitle {
    width: 100%;
  }
}

/* Laptop Screen  */

@media only screen and (min-width: 1200px) {
  .mobilemenuicon {
    display: none;
  }
  .topnavbar {
    display: block;
  }
  .navtext {
    font-weight: 600;
  }
  .navtext:hover {
    color: var(--primaryColor) !important;
  }
  .iconhover:hover {
    color: var(--primaryColor);
  }
  .searchInput {
    border: none !important;
    border-bottom: 2px solid black !important;
  }
  .searchInput:focus {
    border-color: none!important;
    box-shadow: none !important;
  }
  .cartIcon {
    margin-left: 72% !important;
    margin-top: 3rem !important;
  }
  .sliderImage {
    width: 100%;
    height: 630px
  }
  .count {
    margin-left: 40%;
  }
  .count span {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 80%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 5rem;
    position: relative;
    font-weight: 700;
  }
  .count span::before {
    position: absolute;
    border: 2px solid var(--primaryColor);
    left: -30%;
    right: 0%;
    content: "";
    padding: 60%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -23%;
    /* bottom: 20%; */
    margin: 15%;
    position: absolute;
  }
  .stepBox {
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 3rem;
  }
  .stepBox:hover {
    margin-top: 1rem;
    cursor: default
  }
  .stepBox h2 {
    color: white;
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  .stepBox span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.6rem;
  }
  /* Product Section Start */
  .productBox {
    cursor: pointer;
    padding-top: 1rem;
  }
  .productTitle {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .productLabel {
    position: absolute;
  }
  .productLabel span {
    color: white;
    background-color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -14.5rem;
    position: absolute;
    left: 60%;
    font-size: 0.8rem;
  }
  .productOption {
    position: 'absolute';
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: -11%;
    left: 0%;
    padding: 0.3rem;
    display: none;
  }
  .salebannertitle {
    width: 42%;
  }
}

/* Desktop Screen  */

@media only screen and (min-width: 1600px) {
  .mobilemenuicon {
    display: none;
  }
  .topnavbar {
    display: block;
  }
  .navtext {
    font-weight: 600;
  }
  .navtext:hover {
    color: var(--primaryColor) !important;
  }
  .iconhover:hover {
    color: var(--primaryColor);
  }
  .searchInput {
    border: none !important;
    border-bottom: 2px solid black !important;
  }
  .searchInput:focus {
    border-color: none!important;
    box-shadow: none !important;
  }
  .cartIcon {
    margin-left: 72% !important;
    margin-top: 3rem !important;
  }
  .sliderImage {
    width: 100%;
    height: 630px
  }
  .count {
    margin-left: 40%;
  }
  .count span {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 80%;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-top: 5rem;
    position: relative;
    font-weight: 700;
  }
  .count span::before {
    position: absolute;
    border: 2px solid var(--primaryColor);
    left: -30%;
    right: 0%;
    content: "";
    padding: 60%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -23%;
    margin: 15%;
    position: absolute;
  }
  .stepBox {
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 3rem;
  }
  .stepBox:hover {
    margin-top: 1rem;
    cursor: default
  }
  .stepBox h2 {
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .stepBox span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.6rem;
  }
  /* Product Section Start */
  .productBox {
    cursor: pointer;
    padding-top: 1rem;
  }
  .productTitle {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .productLabel {
    position: absolute;
  }
  .productLabel span {
    color: white;
    background-color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -17rem;
    position: absolute;
    left: 60%;
    font-size: 0.8rem;
  }
  .productOption {
    position: 'absolute';
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: var(--primaryColor);
    width: 100%;
    margin-top: -11%;
    left: 0%;
    padding: 0.3rem;
    display: none;
  }
  .salebannertitle {
    width: 42%;
  }
}